<!DOCTYPE html>
<html>
<head>
    <link href="/static/coasters.css" rel="stylesheet">
    <title>Pegasus</title>
</head>
<body>
    <h1>🎢 Pegasus</h1>
    <div class="info-box">
        <hr style="border-top: 1px solid black;">
        <h2>Coaster Information</h2>
        <hr style="border-top: 1px solid black;">
        <iframe width="448" height="252" src="https://www.youtube.com/embed/2VoMoB2Ao_E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></p> 


            In an archaeological excavation area in the Greek themed section, the youngest visitors can experience their first roller coaster adventure.</p>

        <p><strong>Height:</strong> 13 meters</p>
        <p><strong>Top Speed:</strong> 65 km/h</p>
        <p><strong>Track Length:</strong> 430 meters</p>
        <p><strong>Minimum Height Restriction:</strong> 100 cm</p>
        <p><strong>Children Alone Allowed From:</strong> 8 years old</p>

        <hr style="border-top: 1px solid black;">
                <h2>Ride Experience</h2>
        <hr style="border-top: 1px solid black;">
        <div class="rating-block">
            <p><strong>Intensity:</strong> <span class="stars">★★☆☆☆</span></p>
            <p><strong>Thrill Factor:</strong> <span class="stars">★★★☆☆</span></p>
            <p><strong>Physical Load:</strong> <span class="stars">★★☆☆☆</span></p>
        </div>
    </div>
    <hr style="border-top: 1px solid black;">
    <a href="{{ url_for('add_to_list', coaster=coaster) }}"> Add this coaster to my list </a>

    <br>
    <hr style="border-top: 1px solid black;">
    <a href="/">← Back to start</a>
    </div>
</body>
</html>
