<!DOCTYPE html>
<html>
<head>
    <link href="/static/coasters.css" rel="stylesheet">
    <title>Voltron</title>
</head>
<body>
    <h1>🎢 Voltron</h1>
    <div class="info-box">
        <hr style="border-top: 1px solid black;">
        <h2>Coaster Information</h2>
        <hr style="border-top: 1px solid black;">

            <iframe width="448" height="252" src="https://www.youtube.com/embed/o01SNTCMawM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></p> 

        Voltron is Europa Park's most intense roller coaster. </p> 
        Blue Fire is a looping coaster for anyone who wants to try something thrilling, but Voltron is for the true coaster hunters. </p> 
        It features several impressive inversions.</p> 
        Don't be shy about the screaming in this masterpiece.</p> 
        An advice: If you have sensitive ears, I'd recommend earplugs for the waiting area of Voltron.</p> 
        The sound effects in the waiting area are a bit overwhelming.</p> 

        <p><strong>Height:</strong> 33 meters</p>
        <p><strong>Top Speed:</strong> 100 km/h</p>
        <p><strong>Track Length:</strong> 1,385 meters</p>
        <p><strong>Minimum Height Restriction:</strong> 130 cm</p>
        <p><strong>Children Alone Allowed From:</strong> 8 years old</p>
        <p><strong>Inversions:</strong> 7</p>
        <p><strong>Launch Type:</strong> LSM launch</p>

        <hr style="border-top: 1px solid black;">
        <h2>Ride Experience</h2>
        <hr style="border-top: 1px solid black;">
        <div class="rating-block">
            <p><strong>Intensity:</strong> <span class="stars">★★★★★</span></p>
            <p><strong>Thrill Factor:</strong> <span class="stars">★★★★★</span></p>
            <p><strong>Physical Load:</strong> <span class="stars">★★★★☆</span></p>
        </div>
    <hr style="border-top: 1px solid black;">
    <a href="{{ url_for('add_to_list', coaster=coaster) }}"> Add this coaster to my list </a>

    <br>
    <hr style="border-top: 1px solid black;">
    <a href="/">← Back to start</a>
    </div>
</body>
</html>
