<!DOCTYPE html>
<html>
<head>
    <link href="/static/coasters.css" rel="stylesheet">
    <title>Wodan</title>
</head>
<body>

    <h1>🎢 Wodan </h1>
    <div class="info-box">
        <hr style="border-top: 1px solid black;">
        <h2>Coaster Information</h2>
        <hr style="border-top: 1px solid black;">
        <iframe width="448" height="252" src="https://www.youtube.com/embed/U5wvbx8p6SE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></p> 
            
            Wodan is a substantial wooden roller coaster.</p> 
            The height restriction is low, but not for inexperienced riders.</p> 
            The ride is powerful and thrilling, and the queue itself is an attraction, with a walkway past the most feared idols from Norse and Germanic mythology.


        <p><strong>Height:</strong> 41 meters</p>
        <p><strong>Top Speed:</strong> 100 km/h</p>
        <p><strong>Track Length:</strong> 1,050 meters</p>
        <p><strong>Minimum Height Restriction:</strong> 120 cm</p>
        <p><strong>Children Alone Allowed From:</strong> 8 years old</p>

        <hr style="border-top: 1px solid black;">
        <h2>Ride Experience</h2>
        <hr style="border-top: 1px solid black;">
        <div class="rating-block">
            <p><strong>Intensity:</strong> <span class="stars">★★★★★</span></p>
            <p><strong>Thrill Factor:</strong> <span class="stars">★★★★☆</span></p>
            <p><strong>Physical Load:</strong> <span class="stars">★★★★★</span></p>

        </div>
    <hr style="border-top: 1px solid black;">
    <a href="{{ url_for('add_to_list', coaster=coaster) }}"> Add this coaster to my list </a>

    <br>
    <hr style="border-top: 1px solid black;">
    <a href="/">← Back to start</a>
    </div>
</body>
</html>
