body {
    font-family: Arial;
    margin: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-box {
    background: #eef7ff;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    margin-top: 20px;
}

.stars {
    font-size: 1.3rem;
    color: #f5c518;
    letter-spacing: 2px;
}

.rating-block p {
    margin: 4px 0;

}
