body {          
    font-family: Arial;          
    margin: 0;          
    padding: 40px;           
    display: flex;             
    flex-direction: column;         
    align-items: center;        
}
         
img {
    width: 300px;
    border-radius: 10px;

}

.info-box {
    background: #eef7ff;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    margin-top: 20px;
}

button {
    padding: 14px 28px;       
    font-size: 1.1rem;        
    border-radius: 8px;       
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
 
}

select,
input[type="number"] {
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 6px;
    width: 100%;
    max-width: 300px;
}


.collapse-container {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    background: #f9f9f9;
}


.collapse-header {
    cursor: pointer;
    font-weight: bold;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapse-content {
    display: none;
    margin-top: 10px;
    font-size: 0.9rem;
    line-height: 1.4;
}

.collapse-arrow {
    transition: transform 0.3s ease;
}

.collapse-arrow.open {
    transform: rotate(90deg);
}

